# disable varnish cache
Header add "disablevcache" "true"

<ifModule mod_rewrite.c>
RewriteEngine on

# if path doesn't include /cache/ and doesn't have a querystring then add it
RewriteCond %{QUERY_STRING} !.
RewriteCond %{REQUEST_URI} \.html$ [NC]
RewriteCond %{REQUEST_URI} !/cache/
RewriteRule ^(.*)$ cache/$1

# if html file doesn't exist then use index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule \.html$ index.php [L,NC]

# only allow access to certain file-types
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteCond %{REQUEST_URI} !\.(html|jpe?g|png|gif|css|js)$ [NC]
RewriteRule . - [L,NS,R=404]

</ifModule>
